body{
    margin: 0;
    padding: 0;
}
.container{
    width: 980px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 20%;
    background-color: rgb(91, 150, 3);
    color: rgb(33, 231, 76);
    margin:0px;
    padding: 0px;

}


.about{
    display: flex;
 
    border-bottom: solid 1px;
}
.about h2{
    margin: 30px 20px;
}

.size{
    display: flex;
  
}
.size-section{
    margin-right:15px; 
    width: 33.33333%;

}
img{
    width: 100%;
}